footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(230, 243, 255);
    color: #000;
}
footer * {
    font-size: 1rem;
    margin: 5px;
    @media(min-width: $small) {
        font-size: 1.4rem;
    }
}
.credit {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media(min-width: $small) {
        flex-direction: initial;
        
    }
}