---
layout: form.njk
title: Ernest 0040! 🧨
description: Ce quiz sur le thème de James Bond a été créé pour souligner le quarantième anniversaire d'Ernest!
ogImage: /medias/bond.jpg
ogImageAlt: James Bond
---
<section id="secret-section" class="hide">
<h1>Joyeux anniversaire Ernest!! 🍾 🥳</h1>
<p>Pour tes 40 ans sous le thème de James Bond, je voulais faire quelque chose de spécial. 
J'ai alors créé ce petit jeux pour souligner ton anniversaire et s'amuser un peu! Aussi, tu trouveras 
plus bas quelques témoignages de gens qui t'aime. 😉</p>
<h2>Témoignages 🌈 🧡</h2>
{% for T in testimony %}
<div class="card">
<blockquote>
{{ T['Testimony / Témoignage'] }}
</blockquote>
<p>⭐ {{ T['Name / Nom'] }}</p>
</div>
{% endfor %}
<p>If you would like to access this content without having to play the game again, 
I copied it on here: <a href="{{ '/secret' | url }}">https://0040.netlify.com/secret</a></p>
</section>