---
layout: form.njk
title: Ernest 0040! 🧨
---
<section id="secret-section" class="hide">
<h1>Joyeux anniversaire Ernest!! 🍾 🥳</h1>
<p>Pour tes 40 ans sous le thème de James Bond, je voulais faire quelque chose de spécial. 
J'ai alors créé ce petit jeux pour souligner ton anniversaire et s'amuser un peu! Aussi, tu trouveras 
plus bas quelques témoignages de gens qui t'aime. 😉</p>
<h2>Témoignages 🌈 🧡</h2>
{% for T in testimony %}
<div class="card">
<blockquote>
{{ T['Testimony / Témoignage'] }}
</blockquote>
<p>⭐ {{ T['Name / Nom'] }}</p>
</div>
{% endfor %}
</section>