---
layout: base-layout.html
title: 🌈 Testimony 🧡
description: Ernest, pour ton quarantième anniversaire, j'ai réunis les témoignages des gens qui t'aime et les ai copiés ici afin que tu puisse y revenir de temps à autre.
ogImage: /medias/bond.jpg
ogImageAlt: James Bond
---
<section class="content">
<nav>
<a href="{{ '/' | url }}" class="nav-link">⬅ Go to Quiz</a>
</nav>
<h1>Joyeux anniversaire Ernest!! 🍾 🥳</h1>
<p>Pour tes 40 ans sous le thème de James Bond, je voulais faire quelque chose de spécial. 
J'ai alors créé ce petit jeux pour souligner ton anniversaire et s'amuser un peu! Aussi, tu trouveras 
plus bas quelques témoignages de gens qui t'aime. 😉</p>
<h2>Témoignages 🌈 🧡</h2>
{% for T in testimony %}
<div class="card">
<blockquote>
{{ T['Testimony / Témoignage'] }}
</blockquote>
<p>⭐ {{ T['Name / Nom'] }}</p>
</div>
{% endfor %}
</section>